<div class="container-fluid bg-color">
  <div class="d-flex justify-content-center">
    <div class="flex-column">
      <div class="d-flex justify-content-center">
        <img class="position-absolute w-100 mt-0" src="../../../assets/image/ala-pequena.svg" alt="">
      </div>
      <div class="text-center txt-ctn">
        <h2>Niveles</h2>
        <h6>Nombre selecciona el nivel</h6>
        <h6>¡A jugar!</h6>
      </div>
      <div class="container-levels">
        <div class="row-container">
          <div class="square-levels level1">
            <img src="/" alt="">
            <h6></h6>
          </div>
          <div class="square-levels level2">
            <img src="/" alt="">
            <h6></h6>
          </div>
        </div>
        <div class="row-container">
            <div class="square-levels level3">
              <img src="/" alt="">
              <h6></h6>
            </div>
            <div class="square-levels level4">
              <img src="/" alt="">
              <h6></h6>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
