<div class="d-flex justify-content-start">
  <img class="position-absolute w-75 mt-0" src="../../../assets/image/ala-pequena.svg" alt="">
</div>
<div class="container-fluid bg-color">
  <div class="d-flex justify-content-center">
    <div class="flex-column">
      <div class="text-center txt-ctn">
        <h2>Niveles</h2>
        <h6>Nombre selecciona el nivel</h6>
        <h6 class="boldS">¡A jugar!</h6>
      </div>

      <div class="container-levels">
        <div class="row-container">

          <button routerLink='/level1' type="button" class="btn square-levels level1 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column text-center">
              <i class="fas fa-lock-open"></i>
              <h6>Nivel 1</h6>
            </div>
          </button>

          <button routerLink='/level2' type="button" class="btn square-levels level2 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column text-center">
              <i class="fas fa-lock"></i>
              <h6>Nivel 2</h6>
            </div>
          </button>
        </div>

        <div class="row-container">
            <button routerLink='/level3' type="button" class="btn square-levels level3 d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column text-center">
                  <i class="fas fa-lock"></i>
                  <h6>Nivel 3</h6>
                </div>
            </button>

            <button routerLink='/level4' type="button" class="btn square-levels level4 d-flex justify-content-center align-items-center">
              <div class="d-flex flex-column text-center">
                  <i class="fas fa-lock"></i>
                  <h6>Nivel 4</h6>
              </div>
            </button>
        </div>

      </div>
    </div>
  </div>
</div>
