<div class="container-fluid level4-ctn">
    <div class="text-center ctn-virus">
        <h4>¡Que el virus no te ataque!</h4>
        <div class="d-flex justify-content-center" style="margin-top: 1em;">
            <img class="animate__animated animate__pulse animate__infinite" src="../../../assets/image/covid.svg" >
            <img class="animate__animated animate__pulse animate__infinite" src="../../../assets/image/covid.svg" style="padding-left: 20px; padding-right: 20px;">
            <img class="animate__animated animate__pulse animate__infinite" src="../../../assets/image/covid.svg">
        </div>
    </div>
    
    <div class="container text-center text-ctn">
        <div class="container-fluid d-flex justify-content-center ctn-options">
            <div class="cS"> <h6>{{question.title}}</h6></div>
            <div *ngFor="let option of question.options">
                <button class="btn optionS" style="width: 16rem;" type="submit">{{ option.a }}</button>
                <br>
                <button class="btn optionS" style="width: 16rem;" type="submit">{{ option.b }}</button>
                <br>
                <button class="btn optionS" style="width: 16rem;" type="submit">{{ option.c }}</button>
            </div>
        </div>
    </div> 

    <div class="container d-flex flex-row justify-content-center align-items-center">
        <button type="button" (click)="nextQuestion()" class="btn rounded-circle btn-next" data-toggle="modal" data-target="#exampleModal"><i class="next fas fa-chevron-right"></i></button>
    </div>
</div>

<!-------------------------- Modal ------------------------>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-left title" id="exampleModalLabel">La respuesta correcta es: <br> {{question.answer}}</h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container text-center">
        <h6 class="explanation">{{question.explanation}}</h6>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-close" data-dismiss="modal">¡Entendido!</button>
      </div>
    </div>
  </div>
</div>