.correct-ctn{
    height: 100vh;
    background-color: #7ED634;
}

.text-ctn{
    padding-top: 6em;
    color: #F1F1F1;
}

h4{
    font-weight: 900;
    padding-top: 1.2em;
}

h6{
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-weight: 900;
}

i{
    font-size: 100px;
    padding-top: 0.2em;
}

.progress-porcent{
    background-color: #A27CC1;
    width: 84%;
}

.btn-next{
    width: 80px; 
    height: 80px; 
    bottom: 45px; 
    position: absolute; 
    background-color: #F1F1F1;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

i.next{
    color: #562281;
    font-size: 45px;
}


/* Animación------------------------------------ */

.shine1{
    position: absolute;
    animation-duration: 2.5s;
}
.shine2{
    position: absolute;
    animation-duration: 2s;
}
.shine3{
    position: absolute;
    animation-duration: 2s;
}
.shine4{
    position: absolute;
    animation-duration: 1.5s;
}