<div class="container-fluid correct-ctn">

    <img class="animate__animated animate__flash animate__infinite shine1" src="../../../assets/image/shine.svg" style="margin-left: 20%; margin-top: 10%; width: 10%;" alt="1">
    <img class="animate__animated animate__flash animate__infinite shine2" src="../../../assets/image/shine.svg" style="margin-left: 73%; margin-top: 39%; width: 13%;" alt="2">
    <img class="animate__animated animate__flash animate__infinite shine3" src="../../../assets/image/shine.svg" style="margin-left: 12%; margin-top: 70%; width: 12%;" alt="3">
    <img class="animate__animated animate__flash animate__infinite shine4" src="../../../assets/image/shine.svg" style="margin-left: 65%; margin-top: 88%; width: 10%;" alt="4">

    <div class="container text-center text-ctn">
        <h2 class="animate__animated animate__rubberBand">¡Nombre superaste el virus!</h2>
        <h4>Desbloqueaste el nivel 2</h4>
        <div><i class="fas fa-lock-open"></i></div>
        <h6>5/6 Respuestas correctas</h6>
        <div class="container-fluid d-flex justify-content-center">
            <div class="progress rounded-pill progress-ctn" style="height: 2.5em; width: 80%;">
                <div class="progress-bar progress-porcent" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="60">
                </div>
            </div>
        </div>
    </div>
    c
</div>
