<div class="container-fluid bg-color">
    <div class="d-flex justify-content-center">
      <div class="flex-column">
        <div class="d-flex justify-content-center">
          <img class="position-absolute w-100 banner" src="../../../assets/image/ala-grande.svg" alt="">
          <img class="position-relative w-50 h-50 mt-5 logo" src="../../../assets/image/imagotipo.jpg" alt="imagenotipo-hootie-hoo">
        </div>
        <div class="text-center txt-ctn">
          <h3>¡Hola!</h3>
          <h2>¿Cuanto sabes sobre <br> el COVID-19?</h2>
          <h6>¡Pon a prueba tus conocimientos, aprende y reta a familiares y amistades!</h6>
          <br>
          <p class="animate__animated animate__fadeIn animate__infinite text-btn">Pulsa el botón para continuar</p>
        </div>
        <div class="container d-flex flex-row justify-content-center align-items-center">
          <button routerLink='/name-info' class="btn rounded-circle btn-next"><i class="next fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
</div>
