<div class="d-flex justify-content-center">
  <div class="flex-column">
    <img class="position-absolute w-100" src="../../../assets/image/ala-grande.svg" alt="">
    <div class="d-flex justify-content-center">
      <img class="position-relative w-50 h-50 mt-5 min-vw-75" src="../../../assets/image/imagotipo.jpg" alt="imagenotipo-hootie-hoo">
    </div>
    <div class="bg-color">
        <div class="text-center">
          <h3>¡Hola!</h3>
          <h2>¿Cuanto sabes sobre <br> el COVID-19?</h2>
          <p>¡Pon a prueba tus conocimientos, aprende y reta a familiares y amistades!</p>
          <h6>Pulsa el botón para continuar</h6>
        </div>
    </div>
  </div>
</div>
