.bg-color {
  height: 100vh;
  background:#23BDEA;
  min-width: 350px;
}

.txt-ctn {
  margin-top: 7em;
}

h2, h3, h6, p {
  color: #F1F1F1;
}

.btn-next{
  width: 80px;
  height: 80px;
  bottom: 45px;
  position: absolute;
  background-color: #F1F1F1;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

i.next{
  color: #562281;
  font-size: 45px;
}

.banner-s {
  min-width: 350px;
  max-height: 300px;
}

.banner-g {
  visibility: hidden;
}

.logo {
  max-width: 300px;
  min-width: 200px;
}

.text-btn {
  margin-top: 0.75em;
}

/* Tablet */
@media screen and (min-width: 500px) {

  .banner-s {
    visibility: hidden;
  }

  .banner-g {
    visibility: visible;
  }

  .text-btn {
    margin-top: 2em;
  }

}

/* Computador */
@media screen and (min-width: 1000px) {
  .text-btn {
    margin-top: 4em;
  }

  .banner-g {
    visibility: visible;
  }


}
