.source-ctn{
    height: 100vh;
    background:#23BDEA;
}

.txt-ctn{
    height: 22em;
    overflow-y: scroll;
}

.title{
    padding-top: 4.3em;
    padding-bottom: 0.5em;
    font-weight: 900;
    color: #F1F1F1;
}

a{
    font-size: 1.25rem;
    font-weight: 900;
    color: #F1F1F1;
}

p{
    font-size: 1.06rem;
    color: #F1F1F1;
    margin-bottom: 0.8rem;
}