<div class="d-flex justify-content-start">
  <img class="position-absolute w-75 mt-0" src="../../../assets/image/ala-pequena.svg" alt="">
</div>
<div class="container-fluid bg-color">
  <div class="d-flex justify-content-center">
    <div class="flex-column">
      <div class="text-center txt-ctn">
        <h2>¿Cómo te llamas?</h2>
        <input type="text" maxlength="20" autocomplete="off" placeholder="Escribe aquí tu nombre" id="name-user" #userName>
      </div>
      <div class="info-row">
          <div class="square-info mr-5">
            <p>Haz click en la casa para ir al inicio</p>
            <img class="arrow-left" src="../../../assets/image/flecha-grande.svg" alt="">
          </div>
          <div class="square-info item-bottom">
            <p>Haz click en la “i” para ver las fuentes</p>
            <img class="arrow-right" src="../../../assets/image/flecha-pequena.svg" alt="">
          </div>
      </div>
      <div class="container d-flex flex-row justify-content-center align-items-center">
        <button routerLink='/levels' class="btn rounded-circle btn-next"><i class="next fas fa-chevron-right" (click)="captureName(userName.value)"></i></button>
      </div>
    </div>
  </div>
</div>
