.bg-color {
  height: 100vh;
  background:#23BDEA;
}

P, h2 {
  color: #F1F1F1;
}

h2 {
  margin-bottom: 1em;
}

input {
  border-radius: 20px;
  outline: none;
  border: 0;
  height: 4.625em;
  width: 17em;
  margin-bottom: 3.25em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

::placeholder {
  text-align: center;
  font-weight: 400;
  text-transform: none;
}

.txt-ctn {
  margin-top: 10em;
}

.info-row {
  display: flex;
  flex-direction: row;
}

.square-info {
  display: flex;
  flex-direction: column;
  background-color: #0E98BF;
  border-radius: 10px;
  padding: 0.62em;
  width: 9.25em;
  height: 5.62em;
  text-align: center;
}

.item-bottom {
  margin-top: 2.70em;
}

.arrow-left {
  margin-right: 6em;
}

.arrow-right {
  margin-left: 5.25em;
}

.btn-next{
  width: 80px;
  height: 80px;
  bottom: 45px;
  position: absolute;
  background-color: #F1F1F1;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

i.next{
  color: #562281;
  font-size: 45px;
}
