<div class="container-fluid bg-color">
  <div class="d-flex justify-content-center">
    <div class="flex-column">
      <div class="d-flex justify-content-center">
        <img class="position-absolute w-100 mt-0" src="../../../assets/image/ala-pequena.svg" alt="">
      </div>
      <div class="text-center txt-ctn">
        <h2>¿Cómo te llamas?</h2>
        <input type="text" placeholder="Escribe aquí tu nombre" id="name-user">
      </div>
      <div class="info-row">
          <div class="square-info">
            <p>Haz click en la casa para ir al inicio</p>
            <img src="../../../assets/image/flecha-grande.svg" alt="">
          </div>
          <div class="square-info item-bottom">
            <p>Haz click en la “i” para ver las fuentes</p>
            <img src="../../../assets/image/flecha-pequena.svg" alt="">
          </div>
      </div>
    </div>
  </div>
</div>
