<div class="d-flex justify-content-center">
  <div class="flex-column">
    <img class="position-absolute w-100" src="../../../assets/image/ala-pequena.svg" alt="">
    <body class="bg-color">
        <div class="text-center">
          <h3>¿Cómo te llamas?</h3>
          <input type="text" placeholder="Escribe aquí tu nombre" id="">
        </div>
        <div>
          <p>Haz click en la casa para ir al inicio</p>
          <img src="/" alt="">
        </div>
        <div>
          <p>Haz click en la “i” para ver las fuentes</p>
          <img src="/" alt="">
        </div>
    </body>
  </div>
</div>
