<div class="container-fluid correct-ctn">

  <img class="animate__animated animate__flash animate__infinite shine1" src="../../../assets/image/shine.svg" alt="1">
  <img class="animate__animated animate__flash animate__infinite shine2" src="../../../assets/image/shine.svg" alt="2">
  <img class="animate__animated animate__flash animate__infinite shine3" src="../../../assets/image/shine.svg" alt="3">
  <img class="animate__animated animate__flash animate__infinite shine4" src="../../../assets/image/shine.svg" alt="4">

  <div class="container text-center text-ctn">
      <h2 class="animate__animated animate__rubberBand">¡{{userName}} superaste el virus!</h2>
      <h4>Desbloqueaste el nivel 4</h4>
      <div><i class="fas fa-lock-open"></i></div>
      <h6>5/6 Respuestas correctas</h6>
      <div class="container-fluid d-flex justify-content-center">
          <div class="progress rounded-pill progress-ctn">
              <div class="progress-bar progress-porcent" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="60">
              </div>
          </div>
      </div>
  </div>
  <div class="container d-flex flex-row justify-content-center align-items-center">
      <button routerLink='/levels4-unlocked' class="btn rounded-circle btn-next"><i class="next fas fa-chevron-right"></i></button>
  </div>
</div>
