<div class="container-fluid d-flex justify-content-center nav-bar">
    <div class="container d-flex flex-row justify-content-center align-items-center">
        <button class="btn rounded-circle btn-retry"><i class="retry fas fa-chevron-right"></i></button>
    </div>
    <div class="container-fluid d-flex align-items-center menu-ctn">
        <div class="container d-flex flex-row justify-content-between align-items-center ctn-buttons">
            <button routerLink='/home'><i class="home fas fa-home"></i></button>
            <button routerLink='/source'><i class="source fas fa-info"></i></button>
        </div>
    </div>
</div>