.nav-bar{
    height: 130px;
    bottom: 0;
    position: fixed;
}

.menu-ctn{
    background-image: url('../../../assets/image/menu-responsive.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 950px;
    height: 83px;
    bottom: 0;
    position: fixed;
}

button{
    background: #00B2ED;
    border: none;
    font-size: 45px;
}

i{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F1F1F1;
}

.btn-retry{
    width: 80px; 
    height: 80px; 
    bottom: 45px; 
    position: absolute; 
    background-color: #F1F1F1;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

i.retry{
    color: #562281;
    font-size: 45px;
}
